
.form-error {
    color: rgb(255, 255, 255) ;
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 20%;
    margin: auto !important;
     
    height: 30px;
    margin-bottom: 10px !important;
    border-radius: 20px;
   
}

.form-success {
    color: rgb(255, 255, 255);
    background-color: green;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 20%;
    margin: auto !important;
    padding-top: 5px;  
    height: 70%;
    border-radius: 20px;
    
}


.form-successS {
    color: rgb(255, 255, 255);
    background-color: green;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 20%;
    margin: auto !important;
    margin-top: 10px !important;
    height: 70%;
    border-radius: 20px;
}


.Green-yes {
    color: green;
}

.Red-not {
    color: red !important;
}