@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&family=Kurale&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/**typography classes*/

button, button:focus{
    outline: none !important;
    box-shadow: none !important;
}

.padding-bottom{
    padding-bottom: 70px !important;
}

.padding-bottom-100 {
    padding-bottom: 100px !important;
}

.padding-bottom-150 {
    padding-bottom: 150px !important;
}
.form span{
    text-decoration: none !important;
}

#filters {
    text-align: end !important;
}

span.cart-numbers{
    background-color: white !important;
    color: black !important;
}




@media (max-width:900px) {
    .qty {
        display: inline-flex !important; 
    }
}


@media (max-width: 574px){
    .Centrirane {
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
    .product-rating {
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
    

   .qty .gangsta-button{
       
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
}
