@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&family=Kurale&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/**typography classes*/

button, button:focus{
    outline: none !important;
    box-shadow: none !important;
}

.padding-bottom{
    padding-bottom: 70px !important;
}

.padding-bottom-100 {
    padding-bottom: 100px !important;
}

.padding-bottom-150 {
    padding-bottom: 150px !important;
}
.form span{
    text-decoration: none !important;
}

#filters {
    text-align: end !important;
}
