:root {
    --c-dark: black;
    --c-brand: #BB2423;
    --c-button: #B2CBAE;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.18);
}


h1,
h2,
h3,
h4,
h5,
h6 .h1,
.h2,
.h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--c-brand) !important;
    transition: all 0.5s ease;
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

/*SECTION TITLE*/
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-base) !important;
}



/*Btn*/
.btn {
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand.btn-brand {
    color: white;
    width: 170px;
    height: 40px;
    font-weight: 500;
    border-radius: 15px;
    border-color: var(--c-brand);
    background-color: var(--c-brand);
}

.btn-brand3.btn-brand3 {
    color: white;
    width: 30%;
    height: 40px;
    font-weight: 500;
    border-radius: 15px;
    border-color: var(--c-brand);
    background-color: var(--c-brand);
}






/*NAVBAR*/
.navbar {
    box-shadow: var(--box-shadow);
}

.nav-link .navbar-nav .nav-item:hover {
    padding: 9px 0;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    color: black;
}

/*active home*/
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .show>.nav-link:active {
    color: var(--c-brand);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
    font-size: 20px;
    line-height: 1.71429;
    padding-right: 45px !important;

    letter-spacing: 0.05em !important;
}




/*Program*/
.shadow {
    border-radius: 10px;
}

.days {
    box-shadow: 0px 15px 25px  #bb23233a;

}

.days h5 {
    font-size: 22px;
}

.days h6 {
    font-size: 24px;
    color: var(--c-brand);
}


.days1 h6{
    font-size: 24px;
    color: var(--c-brand);
}

.days1 h5 {
    font-size: 22px;
}

.days1 {
    box-shadow: 0px 15px 25px black;
}




#pills-all-tab {
    color: white;
    width: 170px;
    height: 40px;
    font-weight: 500;
    border-radius: 15px;
    border-color: var(--c-brand);
    background-color: var(--c-brand);
}

#pills-breakfast-tab {
    color: white;
    width: 170px;
    height: 40px;
    font-weight: 500;
    border-radius: 15px;
    border-color: var(--c-brand);
    background-color: var(--c-brand);
}

#pills-lunch-tab {
    color: white;
    width: 170px;
    height: 40px;
    font-weight: 500;
    border-radius: 15px;
    border-color: var(--c-brand);
    background-color: var(--c-brand);
}



/*FOOTER*/
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer li,
footer p,
footer a {

    color: rgba(255, 255, 255, 0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 12px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.877) !important;
    border-radius: 100px;
    text-decoration: none;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: var(--c-brand);
}

.footer-top img {
    width: 60%;
}

.contacts {
    color: var(--c-brand);
    font-size: 24px;
}



.instagram-gallery>li {
    flex-basis: 33.333%;
    max-width: 33.333%;
    padding-left: 8px;
    padding-bottom: 8px;
}

.instagram-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -8px;
    margin-left: -8px;
}

.instagram-item img {
    width: 76px !important;
}