@import url(.//clash-display.css);


/*SHEMI*/
:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.18);
    /*--box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);*/
    --transition: all 0.5s ease;

}

/*RESET & HELPERS*/
body {
    font-family: var(--font-base) !important;
    line-height: 1.7;
    color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6 .h1,
.h2,
.h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
    font-family: var(--font-base) !important;
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}



/* BTN */

.btn {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}





/* HERO */
#hero {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/hero-1.jpg);
    background-position: center;
    background-size: cover;
}


/*SECTION TITLE*/
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-base) !important;
}




/*CONTACT*/
#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/counter.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
}


.alert-success {
    z-index: 1 !important;
    background: #D4edda !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    padding: 20px 40px !important;
    width: 100% !important;
    border-left: 8px solid #3ad66e !important;
    border-radius: 4px !important;
}

.alert-error {
    color: red !important;
    z-index: 1 !important;
    background: #fff3cd !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    padding: 20px 40px !important;
    width: 100% !important;
    border-left: 8px solid #ff5202 !important;
    border-radius: 4px !important;
}